#container{
    display: flex;
    flex-direction: column;    
}

#main{
    display: flex;
    flex-direction: row;
    height: calc(100% - 220px)
}

#category{
    display: flex;
    flex-direction: column;
}

.category_item{
    display: block;
    padding-top: 10px;
}